$base-color: #4f4d4a;
$base-color-light: #7a7870;
$base-color-lighter: lighten($base-color, 10%);
$background-color: #f2efe4;
$background-color-dark: #a09e95;
$background-color-light: lighten($background-color, 5%);
$border-color: #a09e95;
$border-color-light: #bfbcb0;
$highlight-color: #e55523;